.app {
  /* background-image: url("./hope.jpg"); */
  /* background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; */
  background: #ddd;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
